	
	
	body {
			background-color: #ffffff;
			font-family: 'Roboto', sans-serif;
			/*
			display: flex;
			min-height: 200vh; 
    		flex-direction: column;
    		align-content: center;
    		*/
			} 

	header {
			background-image: url("bg.jpg");
			height: 75%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;

		}

	article	{
		display: flex;
		justify-content: center;
		flex-wrap:	wrap;
	}

		.whitelogotext {
			color: #FFF;
			display: block;
			font-size: 40px;
			margin: 2em;
			font-weight: bold;
		}

		.greenlogotext {
			color: rgb(16,204,114);
			display: block;
			font-weight: bold;
			font-size: 36px;
			margin: 2em;

		}

		.greenbutton {
		color: black;
		padding: 10px 80px 10px 80px;
		background: rgb(16,204,114);
		border-radius: 05px;
		font-size: 14px;
		margin-left: 80px;
		text-decoration: none;
	}

		.bluebutton {
		color: white;
		padding: 10px 80px 10px 80px;
		background: rgb(115,176,248);
		border-radius: 10px;
		font-size: 12px;
		margin-left: 80px;
		text-decoration: none;
				}

		.pagewrap {
			text-align: center;
		}

		#slowcarbiphone {
			width: 290px;
			float: left;
			padding: 5px 15px;
		}

		#meggings {
			width: 294px;
			float: left;
			padding: 5px 15px;
			margin: 0px 5px 5px 5px;
		}

		#farmtotable {
			width: 270px;
			padding: 5px 15px;
			float: left;
		}


				}

		.subfooter {
			clear: both;
			display: block;
			text-align: center;
		}

		footer{
			background-color: rgb(242,244,246);
			font: black, 40px;
		}

		

