body {
			background-color: #ffffff;
			display: flex; /* make sure it's at least as tall as the viewport */
			min-height: 200vh; /* lay items out vertically */
    		flex-direction: column;
    		align-content: center;
    		font-family: 'Roboto', sans-serif;
			}

		header {
			background-image: url("bg.jpg");
			height: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;

		}

		h1 {
			color: white;
			display: block;
			font-style: bold;
			font-size: 40px;
			margin-left: 80px;
		}

		h2 {
			color: rgb(16,204,114);
			display: block;
			font-style: bold;
			font-size: 30px;
			margin-left: 80px;
			padding-top: 100px;
		}

		article {
			
		}

		#pagewrap {
			padding: 5px;
			width: 960px;
			margin: 20px auto;
		}

		#slowcarbiphone {
			width: 290px;
			float: left;
			padding: 5px 15px;
		}

		#meggings {
			width: 294px;
			float: left;
			padding: 5px 15px;
			margin: 0px 5px 5px 5px;
		}

		#farmtotable {
			width: 270px;
			padding: 5px 15px;
			float: left;
		}

		footer{
			background: rgb(242,244,246);
			font: black, 40px;

		}

		.greenbutton {
		color: white;
		padding: 10px 80px 10px 80px;
		background: rgb(16,204,114);
		border-radius: 10px;
		font-size: 12px;
		margin-left: 80px;
				}

		.bluebutton {
		color: white;
		padding: 10px 80px 10px 80px;
		background: rgb(115,176,248);
		border-radius: 10px;
		font-size: 12px;
		margin-left: 80px;
				}

